extends base

block title
  title AKAPOLLO - ADMIN

block head

block body
  main#admin
    ul
      each sound in data
        li
          p #{ sound.name }
          audio(
            src=sound.url
            controls)
