extends ../layout

block global-head
  link(
    rel='stylesheet'
    href='/css/client.css')

block header
  include partials/header

block footer
  include partials/footer

block global-bottom
  include partials/bottom
