extends base

block title
  title AKAPOLLO

block head

block body
  main#container
    article#welcome
      p Hi, Friends! Welcome to Akapollo.
      p Now, It's Time to
      p
        button#goto-player(
          onclick="location.href='/player'") Play


block bottom
