doctype html
html
  head
    include include/meta
    block meta
    block title
    include include/head
    block global-head
    block head
  body
    block header
    block body
    block footer
    include include/bottom
    block global-bottom
    block bottom
