doctype html
html
  head
    include include/meta
    block title
    include include/head
    block head
  body
    include common/header
    block body
    include common/footer
    include include/bottom
    block bottom
