header
  name AKAPOLLO
  nav
    ul
      li
        a(href='/') Homepage
      li
        a(href='/player') Player
      li
        a(href='/setting') Setting
      li
        a(href='/about') About us
