header
  fixed: top left right
  z-index 1000
  text-align center
  fs: (16/16)rem

  ul
    margin 0
    padding 0

  li
    inline-block()
    padding 4px

footer
  fixed: bottom left right
  z-index 999
  fs: (12/16)rem
  text-align center

#container
  height 100%
  width 100%

#welcome
  vertically-align()
  padding 6rem 0
  text-align center
  font-weight bold
  fs: (32/16)rem

  #goto-player
    fs: (48/16)rem
    text-align center

#about-us
  vertically-align()
  padding 6rem 0
  text-align center
  font-weight bold
  fs: (32/16)rem
