header
  fixed: top left right
  z-index 1000
  text-align center
  fs: (16/16)rem
  
  name
   float left
   padding-left 20px
   fs: (32/16)rem

  nav
    float right
    padding-top 5px
    padding-right 20px

  ul
    margin 0
    padding 0

  li
    inline-block()
    padding 4px

footer
  fixed: bottom left right
  z-index 999
  fs: (12/16)rem
  text-align center

#container
  height 100%
  width 100%

#welcome
  vertically-align()
  margin 6rem 0
  text-align center
  font-weight normal
  fs: (24/16)rem

  #goto-player
    margin 10rem 0
    fs: (20/16)rem
    text-align center
    font-weight normal

#player
  fixed bottom left right

  #keyboard
    margin-bottom 10rem
    text-align center

#about-us
  vertically-align()
  padding 6rem 0
  text-align center
  font-weight bold
  fs: (32/16)rem

kbd {
  display inline-block
  margin 0 .2rem
  padding .2rem .7rem
  background-color #f7f7f7
  border .1rem solid #999
  border-radius .2rem
  color #333
  fs: (24/16)rem
  font-weight bold

  &.pressed {
    background-color #979797
    border .1rem solid #6a6a6a
    color #000
  }
}

