html
  font-size 12px

html, body
  height 100%
  margin 0

body
  gradient: $BODY-BGCOLOR-TOP $BODY-BGCOLOR-BOTTOM
  color: #fff
  font-family $FONT-FAMILY
  font-size 14px
  line-height 1.5
a
  reset-link()
  color $LINK-COLOR
  font-weight bold

  &:hover
    color $LINK-HOVER

button
  border none
  outline none

main
  vertically-align()

canvas
  width 100%
  height 100%


@import 'common/header'
@import 'common/footer'
