// Font
$FONT-FAMILY = "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei";

// Body Background Color
$BODY-BGCOLOR-TOP = #333
$BODY-BGCOLOR-BOTTOM = #111

// Link
$LINK-COLOR = #c3c3c3
$LINK-HOVER = #fff

// Header
$HEADER-COLOR = #cacaca
$HEADER-BGCOLOR-TOP = rgba(255, 255, 255, 0.5)
$HEADER-BGCOLOR-BOTTOM = rgba(255, 255, 255, 0.1)

// Footer
$FOOTER-COLOR = #cacaca
