html
  fs: (16/16)rem

html, body
  height 100%

body
  clearfix()
  background $GLOBAL-BGCOLOR
  color $GLOBAL-FONTCOLOR
  font-family $GLOBAL-FONTFAMILY
  fs: (16/16)rem
  line-height 1.618

a, button, input[type=button], input[type=submit]
  cursor: pointer

a, button, input
  font-family $GLOBAL-FONTFAMILY

a
  reset-link()
  transition: color .2s ease-in-quad, background .2s ease-in-quad
  padding .2rem
  color $GLOBAL-LINKCOLOR
  font-weight bold
  &:hover
    background $GLOBAL-HOVERBGCOLOR
    color $GLOBAL-HOVERCOLOR

button
  margin 0
  padding .5rem
  background none
  border .5rem solid $GLOBAL-BUTTON-BDCOLOR
  border-radius: .5rem
  color $GLOBAL-BUTTON-LINKCOLOR
  font-family $GLOBAL-FONTFAMILY
  font-weight bold
  outline none
  &:hover
    background $GLOBAL-BUTTON-BGCOLOR
    color $GLOBAL-BUTTON-HOVERCOLOR
