$Raleway = 'http://7xiewl.com1.z0.glb.clouddn.com/raleway';
$RalewayBold = 'http://7xiewl.com1.z0.glb.clouddn.com/raleway-bold';

@font-face
  font-family "Raleway"
  font-weight normal
  font-style normal
  src url($Raleway + '.eot?#iefix') format('embedded-opentype'),
      url($Raleway + '.woff') format('woff'),
      url($Raleway + '.ttf')  format('truetype'),
      url($Raleway + '.svg') format('svg');

@font-face
  font-family 'Raleway'
  font-weight bold
  font-style normal
  src url($RalewayBold + '.eot?#iefix') format('embedded-opentype'),
      url($RalewayBold + '.woff') format('woff'),
      url($RalewayBold + '.ttf')  format('truetype'),
      url($RalewayBold + '.svg') format('svg');
