@font-face
  font-family 'Futura-Condensed-Normal'
  src url('/fonts/Futura-Condensed-Normal.eot') format('embedded-opentype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Futura-Condensed-Normal'
  src url(data:application/x-font-woff\;charset=utf-8\;base64,) format('woff')\, url('/fonts/Futura-Condensed-Normal.ttf') format('truetype')\, url('/fonts/Futura-Condensed-Normal.svg#Futura-Condensed-Normal') format('svg')
  font-weight normal
  font-style normal
