$GLOBAL-BGCOLOR = #222
$GLOBAL-FONTCOLOR = #ddd
$GLOBAL-FONTFAMILY = "Raleway", "Arial", sans-serif
$GLOBAL-LINKCOLOR = #ccc
$GLOBAL-HOVERCOLOR = #222
$GLOBAL-HOVERBGCOLOR = #ccc
$GLOBAL-BUTTON-BDCOLOR = #ccc
$GLOBAL-BUTTON-BGCOLOR = #ccc
$GLOBAL-BUTTON-LINKCOLOR = #ccc
$GLOBAL-BUTTON-HOVERCOLOR = #222
